* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  max-width: 100%;
}

/* //top-navbar// */
.top-nav {
  background-color: #e1f785;
  padding: 10px 0;
  height: 45px;
}
.top-nav a {
  text-decoration: none;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  #chapter2 {
    order: 2;
  }
}
/* //Main-navbar */
.ca-navbar {
  width: 100%;
  padding: 20px 0;
}
.ca-navbar .container-fluid {
  width: 840px;
}
.ca-navbar .container-fluid a img {
  width: 132px;
  height: 65px;
}
.ca-navbar .container-fluid .ca-nav-border {
  border: 1px solid black;
  border-radius: 40px;
}
.ca-navbar .container-fluid .ca-nav-border .navbar-nav .nav-item {
  width: 158px;
  height: 45.55px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}
.ca-navbar .container-fluid .ca-nav-border .navbar-nav .nav-item .text p {
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 44px;
  margin: 0;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .ca-navbar .container-fluid a img {
    width: 80px;
    height: 42px;
  }
}
/* //link-part */
.link-part {
  padding: 22px 0;
}
.link-part .col-lg-6 .link-logo-part {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.link-part .col-lg-6 .link-logo-part li {
  list-style-type: none;
  display: inline;
  left: 100%;
}
.link-part .col-lg-6 .link-logo-part li img {
  max-height: 40px;
}
.link-part .text-part p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-part .text-part p img {
  width: 20px;
  height: 20px;
  padding-left: 4px;
}
.link-part .text-part p .text-part-btn {
  width: 112px;
  height: 40px;
  border: 1px solid black;
  background-color: #e1f785;
  border-radius: 40px;
  margin-left: 10px;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  #chapter3 {
    order: 1;
  }
}
hr {
  border: 1px solid #000;
}

/* //secion-1-scss-part// */
.section-1 {
  padding: 0;
}
.section-1 .row .sec-1-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.section-1 .row .sec-1-col h1 .section-1-text {
  font-size: 30px;
  margin: 1rem;
  line-height: 1rem;
}
.section-1 .row .sec-1-col .input-group {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
}
.section-1 .row .sec-1-col .input-group input {
  padding: 10px;
  border: 2px solid #000;
  border-right: 0;
  border-radius: 4px;
  padding-left: 13px;
}
.section-1 .row .sec-1-col .input-group .btn {
  width: 100px;
  background-color: #000;
  padding: 10px 20px;
  border: 2px solid #000;
  border-left: 0;
  border-radius: 4px;
  color: #fff;
}
.section-1 .row .sec-1-img-part {
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0;
}

@media (min-width: 319.98px) and (max-width: 576.98px) {
  .section-1 {
    padding: 5px;
  }
}
@media (min-width: 767.98px) and (max-width: 992.98px) {
  .section-1 .row .sec-1-col {
    padding-top: 5rem;
  }
  .section-1 .row .sec-1-col h1 {
    padding: 0 3rem;
  }
  .section-1 .row .sec-1-col h1 .section-1-text {
    font-size: 50px;
    line-height: 3rem;
  }
}
@media (min-width: 992.98px) and (max-width: 1200.98px) {
  .section-1 .row .sec-1-col {
    padding-top: 5rem;
  }
  .section-1 .row .sec-1-col h1 {
    padding: 0 7rem;
  }
  .section-1 .row .sec-1-col h1 .section-1-text {
    font-size: 65px;
    line-height: 4rem;
  }
  .section-1 .row .sec-1-col .input-group {
    padding-top: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1400.98px) {
  .section-1 .row .sec-1-col {
    padding-top: 5rem;
  }
  .section-1 .row .sec-1-col h1 {
    padding: 0 8rem;
  }
  .section-1 .row .sec-1-col h1 .section-1-text {
    font-size: 50px;
    line-height: 3rem;
  }
}
@media (min-width: 1400px) and (max-width: 1600.98px) {
  .section-1 .row .sec-1-col {
    padding-top: 5rem;
  }
  .section-1 .row .sec-1-col h1 {
    padding: 0 10rem;
  }
  .section-1 .row .sec-1-col h1 .section-1-text {
    font-size: 80px;
    line-height: 6rem;
  }
  .section-1 .row .sec-1-col .input-group {
    padding-top: 1.5rem;
  }
}
/* //section-2-scss// */
.section-2 .row {
  padding: 0;
}
.section-2 .row .img-part {
  padding: 0;
}
.section-2 .row .text-col-1 {
  background-color: #D9F567;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 22px;
}
.section-2 .row .text-col-1 span {
  display: block;
  font-size: 23px;
}
.section-2 .row .text-col-2 {
  background-color: #E7DDC7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.section-2 .row .text-col-2 span {
  display: block;
  font-size: 20px;
}
.section-2 .row .info-col {
  background-color: #FFFFFE;
  align-items: center;
  font-size: 30px;
  padding: 70px 30px;
}
.section-2 .row .info-col .info-col-icon {
  padding: 5px 0;
}
.section-2 .row .info-col .info-col-icon li {
  list-style-type: none;
  display: inline;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .section-2 {
    margin-top: 2rem;
    padding: 0;
  }
  .section-2 .row .text-col-1 {
    padding: 10px 12px;
  }
  .section-2 .row .text-col-2 {
    padding: 10px 12px;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .section-2 {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
  .section-2 .row .text-col-1 span {
    font-size: 20px;
  }
  .section-2 .row .text-col-2 span {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992.98px) {
  .section-2 {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
  .section-2 .row .img-part img {
    height: 100%;
  }
  .section-2 .row .text-col-1 {
    padding: 5px;
  }
  .section-2 .row .text-col-1 span {
    font-size: 20px;
  }
  .section-2 .row .text-col-2 {
    padding: 20px;
  }
  .section-2 .row .text-col-2 span {
    font-size: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1200.98px) {
  .section-2 {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
  .section-2 .row .img-part img {
    height: 100%;
  }
  .section-2 .row .text-col-1 {
    padding: 5px;
  }
  .section-2 .row .text-col-1 span {
    font-size: 20px;
  }
  .section-2 .row .text-col-2 {
    padding: 20px;
  }
  .section-2 .row .text-col-2 span {
    font-size: 20px;
  }
}
/* //section-3-part// */
.section-3-black-part {
  background-color: #353132;
  padding: 1rem 1rem;
}
.section-3-black-part .sec-3-text {
  padding-top: 5rem;
}
.section-3-black-part .sec-3-text h2 {
  color: #ffffff;
}
.section-3-black-part .sec-3-text .section-3-centre-part {
  background-color: #353132;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img {
  width: 550px;
  padding-top: 2rem;
  display: inline;
  align-items: center;
  justify-content: center;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .animated-img {
  width: 100%;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast {
  padding-top: 1.3rem;
  margin-bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link {
  padding-top: 0.3rem;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link span img {
  margin: 0 10px;
  width: 70px;
}
.section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .learn-more-btn button {
  width: 182px;
  height: 65px;
  border: 0;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .section-3-black-part .sec-3-text {
    padding-top: 1rem;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .animated-img {
    width: 95%;
    border: 2px solid #fff;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast {
    display: block;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link {
    margin: 1rem;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link span img {
    width: 21%;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .learn-more-btn button {
    width: 250px;
    height: 45px;
    font-size: 21px;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .animated-img {
    width: 95%;
    border: 2px solid #fff;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast {
    display: block;
    justify-content: center;
    align-items: center;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link {
    margin: 1rem;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .podcast-link span img {
    width: 15%;
  }
  .section-3-black-part .sec-3-text .section-3-centre-part .section-3-img .listen-podcast .learn-more-btn button {
    width: 400px;
    height: 70px;
    font-size: 30px;
  }
}
/* //section-4 */
.section-4 .sec-4-headline h4 {
  padding-top: 2rem;
  padding-bottom: 15px;
}
.section-4 .scroller {
  max-width: 100%;
  overflow: hidden;
}
.section-4 .scroller .scroller__inner {
  display: flex;
  gap: 1rem;
}
.section-4 .scroller .scroller__inner li {
  list-style-type: none;
}
.section-4 .scroller[data-animated=true] {
  overflow: hidden;
}
.section-4 .scroller[data-animated=true] .scroller__inner {
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}
/* //section-5 */
.section-5 {
  background-color: #231f20;
  color: #ffffff;
  padding: 40px 10px;
}
.section-5 .sec-5-headline-part {
  padding-top: 3rem;
}
.section-5 .sec-5-headline-part .sec-5-text .stick {
  width: 3px; /* Thickness of the stick */
  height: 70px; /* Length of the stick */
  background-color: grey; /* Color of the stick */
  margin: 20px auto;
}
.section-5 .sec-5-headline-part .sec-5-input-group {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
}
.section-5 .sec-5-headline-part .sec-5-input-group input {
  padding: 10px;
  border: 2px solid #e1f785;
  border-right: 0;
  padding-left: 13px;
}
.section-5 .sec-5-headline-part .sec-5-input-group .btn {
  width: 100px;
  background-color: #e1f785;
  padding: 10px 20px;
  border: 2px solid #e1f785;
  border-radius: 0%;
  color: #000;
}
.section-5 .wiggle-line-part {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-5 .wiggle-line-part .overlay-container {
  position: relative;
  display: inline-block;
}
.section-5 .wiggle-line-part .overlay-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(-30deg);
}
.section-5 .wiggle-line-part .overlay-container h1 {
  position: absolute;
  top: 50%;
  /* left: 40%; */
  transform: translate(-50%, -50%);
  white-space: nowrap;
  text-align: center;
  font-size: 4em;
}
.section-5 .wiggle-line-part .stick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3px; /* Thickness of the stick */
  height: 90px; /* Length of the stick */
  background-color: grey; /* Color of the stick */
  margin: 60px 0;
}
@media (min-width: 320px) {
  .section-5 .wiggle-line-part .overlay-container img {
    width: 180px;
  }
  .section-5 .wiggle-line-part .overlay-container h1 {
    font-size: 40px;
  }
}
.section-5 .gen-z-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}
.section-5 .p-text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  padding-bottom: 55px;
}

@media (min-width: 320px) {
  .gen-z-text {
    padding-top: 0;
  }
}
/* //section-6 */
.section-6 .sec-6-headline {
  padding-top: 30px;
}
.section-6 .sec-6-headline h1 .font-change {
  font-size: 50px;
  line-height: 50px;
}
.section-6 .row-no-1 {
  padding-top: 30px;
}
.section-6 .row-no-1 .col-lg-6 {
  position: relative;
}
.section-6 .row-no-1 .col-lg-6 .img-wrapper-1 {
  position: relative;
  width: 90%;
  height: auto;
  left: 55px;
}
.section-6 .row-no-1 .col-lg-6 .img-wrapper-1 img {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-6 .row-no-1 .col-lg-6 .img-wrapper-1 video {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 85%;
  outline: 0;
  border: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-6 .row-no-1 .sec-6-text {
  position: relative;
  z-index: 1;
}

/* //feature */
.feature {
  height: auto;
  padding: 30px;
}
.feature .img-element {
  width: 100%;
  padding: 0 20px;
  /* border: 3px solid red; */
}
.feature .img-element .imges {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

@media (min-width: 320.98px) and (max-width: 575.98px) {
  .feature {
    height: auto;
    padding-bottom: 20px;
  }
  .feature .row .col-lg-4 {
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
/* //last part */
.keep-up-with-us {
  background-color: #E2DBC8;
  height: auto;
  padding: 0 20rem;
  padding-bottom: 30px;
}
.keep-up-with-us .header-text h2 {
  padding: 2rem;
}
.keep-up-with-us .ig-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.keep-up-with-us .box-container .boxes .box1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.keep-up-with-us .box-container .boxes .box1 iframe {
  border-radius: 4px;
}
.keep-up-with-us .ig_section_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.keep-up-with-us .ig_section_btn button {
  background-color: #fff;
  padding: 10px;
  border: 0;
  outline: 0;
  width: 150px;
}
.keep-up-with-us .ig_section_btn button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.7s;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .keep-up-with-us {
    padding: 0 20px;
    height: auto;
    padding-bottom: 20px;
  }
  .keep-up-with-us .ig-info {
    display: block;
  }
  .keep-up-with-us .box-container {
    display: flex;
  }
  .keep-up-with-us .box-container .boxes .box1 iframe {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .keep-up-with-us {
    height: auto;
    padding: 1rem 9rem;
  }
  .keep-up-with-us .ig-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .keep-up-with-us .box-container .boxes .box1 iframe {
    width: 100px;
    height: 100px;
  }
}
@media (min-width: 768px) and (max-width: 1200.98px) {
  .keep-up-with-us {
    height: auto;
    padding: 0 3rem;
    padding-bottom: 20px;
  }
  .keep-up-with-us .ig-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .keep-up-with-us .box-container .boxes .box1 iframe {
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1200px) and (max-width: 1400.98px) {
  .keep-up-with-us {
    padding: 0 12rem;
    padding-bottom: 20px;
  }
  .keep-up-with-us .ig-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .keep-up-with-us .box-container .boxes .box1 {
    margin-bottom: 20px;
  }
  .keep-up-with-us .box-container .boxes .box1 video {
    width: 230px;
    height: 230px;
  }
}
/* //text_part// */
.loop {
  background-color: #231f20;
}
.loop .loop__inner {
  display: flex;
  gap: 1rem;
}
.loop .loop__inner .loop_text {
  font-size: 70px;
  list-style: none;
  gap: 5rem;
  color: #D9F567;
}

@media (min-width: 320.98px) and (max-width: 576.98px) {
  .loop .loop__inner .loop_text {
    font-size: 14px;
    gap: 0.1rem;
  }
}
@media (min-width: 576.98px) and (max-width: 768.98px) {
  .loop .loop__inner .loop_text {
    font-size: 22px;
    gap: 0.5rem;
  }
}
@media (min-width: 768.98px) and (max-width: 992.98px) {
  .loop .loop__inner .loop_text {
    font-size: 25px;
    gap: 0.5rem;
  }
}
@media (min-width: 992.98px) and (max-width: 1200.98px) {
  .loop .loop__inner .loop_text {
    font-size: 38px;
    gap: 0.5rem;
  }
}
@media (min-width: 1200.98px) and (max-width: 1400.98px) {
  .loop .loop__inner .loop_text {
    font-size: 45px;
    gap: 0.5rem;
  }
}
/* // footer */
.footer-container {
  padding: 6rem 8rem;
  background-color: #231f20;
}
.footer-container .row .left-part .footer_img_text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-container .row .left-part .footer_img_text .footer_img {
  width: 110px;
  height: 95px;
  margin-right: 3rem;
}
.footer-container .row .left-part .footer_img_text .footer_text {
  width: 200px;
}
.footer-container .row .left-part .footer_img_text .footer_text p {
  font-size: 20px;
  color: #fff;
}
.footer-container .row .left-part .footer_email {
  width: 500px;
  padding-top: 20px;
}
.footer-container .row .left-part .footer_email .input-group {
  width: auto;
  margin: 0 auto;
}
.footer-container .row .left-part .footer_email .input-group input {
  padding: 20px;
  border: 3px solid #e1f785;
  border-right: 0;
  border-radius: 8px;
  padding-left: 13px;
}
.footer-container .row .left-part .footer_email .input-group .btn {
  width: 100px;
  background-color: #e1f785;
  padding: 10px 20px;
  border: 2px solid #e1f785;
  border-left: 0;
  border-radius: 8px;
  color: #fff;
}
.footer-container .row .col-lg-3 .collections span {
  display: flex;
  padding-top: 1rem;
}
.footer-container .row .col-lg-3 .collections span a {
  text-decoration: none;
  color: #fff;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .footer-container {
    padding: 0;
  }
  .footer-container .row .left-part {
    padding: 0;
  }
  .footer-container .row .left-part .footer_img_text {
    padding: 2rem;
  }
  .footer-container .row .left-part .footer_email .input-group {
    padding-left: 1rem;
    margin: 0;
  }
  .footer-container .row .left-part .footer_email .input-group input {
    padding: 15px;
  }
  .footer-container .row .col-lg-3 .collections span {
    padding-left: 3rem;
    padding-bottom: 3px;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .footer-container {
    padding: 0;
  }
  .footer-container .row .left-part {
    padding: 0;
  }
  .footer-container .row .left-part .footer_img_text {
    padding: 3rem 2rem;
  }
  .footer-container .row .left-part .footer_email {
    padding: 0;
  }
  .footer-container .row .left-part .footer_email .input-group {
    padding-left: 1rem;
    margin: 0;
  }
  .footer-container .row .left-part .footer_email .input-group input {
    padding: 15px;
  }
  .footer-container .row .col-lg-3 .collections span {
    display: flex;
    padding-left: 3rem;
    padding-bottom: 3px;
  }
}
@media (min-width: 768px) and (max-width: 992.98px) {
  .footer-container {
    padding: 0;
  }
  .footer-container .row .left-part {
    padding: 0;
  }
  .footer-container .row .left-part .footer_img_text {
    padding: 3rem 2rem;
  }
  .footer-container .row .left-part .footer_email {
    padding: 0;
  }
  .footer-container .row .left-part .footer_email .input-group {
    padding-left: 1rem;
    margin: 0;
  }
  .footer-container .row .left-part .footer_email .input-group input {
    padding: 15px;
  }
  .footer-container .row .col-lg-3 .collections span {
    display: flex;
    padding-left: 3rem;
    padding-bottom: 3px;
  }
}
/* //.contact_logo */
.contact_logo {
  background-color: #231f20;
  display: flex;
  padding: 5rem 25rem;
  justify-content: flex-end;
}
.contact_logo .contact_logo_img {
  padding: 0 20px;
}
.contact_logo .contact_logo_img .img {
  padding-right: 1rem;
}
.contact_logo .contact_logo_img .text {
  color: #fff;
}

@media (min-width: 320px) and (max-width: 576.98px) {
  .contact_logo {
    padding: 1rem;
  }
  .contact_logo .contact_logo_img .img {
    padding-right: 10px;
  }
  .contact_logo .contact_logo_img .text {
    padding-top: 5rem;
  }
}
@media (min-width: 576px) and (max-width: 768.98px) {
  .contact_logo {
    padding: 1rem;
    justify-content: center;
  }
  .contact_logo .contact_logo_img .img {
    padding-right: 10px;
  }
  .contact_logo .contact_logo_img .text {
    padding-top: 5rem;
  }
}
@media (min-width: 768px) and (max-width: 992.98px) {
  .contact_logo {
    padding: 1rem;
    justify-content: center;
  }
  .contact_logo .contact_logo_img .img {
    padding-right: 10px;
  }
  .contact_logo .contact_logo_img .text {
    padding-top: 5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200.98px) {
  .contact_logo {
    padding: 1rem;
    justify-content: center;
  }
  .contact_logo .contact_logo_img .img {
    padding-right: 10px;
  }
  .contact_logo .contact_logo_img .text {
    padding-top: 5rem;
  }
}/*# sourceMappingURL=styles.css.map */