*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;    
    
    max-width: 100%;
}

/* //top-navbar// */
.top-nav{
    background-color: #e1f785;
    padding: 10px 0;
    height: 45px;    
    a{
        text-decoration: none;        
    }
}
@media (min-width:320px) and (max-width:576.98px){
    #chapter2{        
            order: 2;
    }
}
/* //Main-navbar */
.ca-navbar{    
        width: 100%; 
        padding: 20px 0;       
    .container-fluid{   
        width: 840px;          
        a{
            img{
                width: 132px;
                height: 65px;
            }
        }
        .ca-nav-border{            
            border: 1px solid black;
            border-radius: 40px;             
            .navbar-nav{
                .nav-item{
                    width: 158px;
                    height: 45.55px;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;                    
                    .text{
                        p{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 44px;
                            margin: 0;
                        }
                    }    
                }
            }
        }
    }
}@media (min-width:320px) and (max-width:576.98px){
    .ca-navbar{
        .container-fluid{
            a{
                img{
                    width: 80px;
                    height:42px
                }
            }
        }
    }
}

/* //link-part */
.link-part{
    padding: 22px 0;
    .col-lg-6{
        .link-logo-part{ 
            padding: 0;           
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            li{
                list-style-type: none;
                display: inline;                           
                left:100%; 
                img{
                    max-height: 40px;                   
                }
            }
        }
    }    
    .text-part{
        p{           
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
                padding-left: 4px;                
            }
            .text-part-btn{
                width: 112px;
                height: 40px;
                border: 1px solid black;
                background-color: #e1f785;
                border-radius: 40px;
                margin-left: 10px;
            }     
          }
    }
}

@media (min-width:320px) and (max-width:576.98px){
   #chapter3{
    order: 1;
   }
}

hr{    
    border: 1px solid #000;
}

/* //secion-1-scss-part// */

.section-1{
    .row{
        .sec-1-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .section-1-text {
                p{
                    font-size: 80px;
                    margin: 2px;
                    line-height: 1rem;
                }
                
            }
            .input-group{
                width: 100%;
                max-width: 330px;
                margin: 0 auto;               
                input{                
                padding: 10px;
                border: 2px solid #000;
                border-right: 0;
                border-radius: 4px;
                padding-left: 13px; 
                }
                .btn{
                    width: 100px;
                background-color: #000;
                padding: 10px 20px;
                border: 2px solid #000;
                border-left: 0;
                border-radius: 4px; 
                color: #fff;
                }
            }
        }
        .sec-1-img-part{
            object-fit: cover;
        }
    }
}


/* //section-2-scss// */
.section-2{
    .row{       
        .text-col-1{ 
            background-color: #D9F567;          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 20px 22px;           
            span{
            display: block;           
            font-size: 23px;
            }
        }
        .text-col-2{
            background-color: #E7DDC7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            padding: 30px 22px;                 
            span{
            display: block;           
            font-size: 23px;
            }
        }
        .info-col{
            background-color: #FFFFFE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            font-size: 23px;
            padding: 30px 22px;
            .info-col-icon{
                padding: 5px 0;                
                li{
                    list-style-type: none;
                    display: inline;                
                    
                }
            }
        }
    }    
}
@media (min-width: 320px) and (max-width: 767.98px) {
.section-2{
    margin-top: 2rem;
}    
}
@media (min-width:768px) {
    .section-2{     
        .row{            
            .text-col-1{
                span{
                    font-size: 20px;
                }
            }
            .text-col-2{
                span {
                    font-size:20px;
                }
            }
        }
    }
}

/* //section-3-part// */
.section-3-black-part{
    background-color:#353132;
    padding: 1rem 1rem;
    .sec-3-text{
        padding-top: 5rem;  
       
        h2{
            color:#ffffff ;
        }
        .section-3-centre-part{
            background-color: #353132;            
            display: flex;
            align-items: center;
            justify-content: center;
            .section-3-img{
                width: 550px;
                padding-top: 2rem;                
                display: inline;
                align-items: center;
                justify-content: center;
                .animated-img{
                    width: 100%;            
                }                    
                .listen-podcast{
                    padding-top: 1.3rem;
                    margin-bottom: 8rem; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;     
                    .podcast-link{ 
                        padding-top: .3rem; 
                    span{
                        img{
                            margin:0 10px;
                            width: 70px;
                        }                
                    }
                }                   
                .learn-more-btn{  
                    button{
                    width: 182px;
                    height:65px;
                    border: 0;
                    }
                } 
            } 
            }             
            }
            
        }
    }

@media (min-width: 320.98px) and (max-width:575.98px) {
    .section-3-black-part{
        .sec-3-text{
            padding-top: 1rem;
            .section-3-centre-part{
                .section-3-img{
                    .animated-img{
                        width: 95%;
                        border: 2px solid #fff;
                    }
                    .listen-podcast{
                        display: block;
                        justify-content: center;
                        align-items: center; 
                        margin-bottom: 20px;                   
                        .podcast-link{
                            margin: 1rem;
                            span{                           
                                img{
                                    width: 21%;
                                }
                            }
                        }   
                        .learn-more-btn{
                            
                            button{
                                width: 250px;
                                height: 45px;
                                font-size: 21px;
                            }
                        }            
                       }
                }
            }
        }
    }
}
    


@media (min-width:576.98px) and (max-width:768.98px) {
    .section-3-black-part{
        .sec-3-text{
            .section-3-centre-part{
                .section-3-img{
                   .animated-img{
                    width: 95%;
                    border: 2px solid #fff;
                   }
                   .listen-podcast{
                    display: block;
                    justify-content: center;
                    align-items: center;                    
                    .podcast-link{
                        margin: 1rem;
                        span{                           
                            img{
                                width: 21%;
                            }
                        }
                    }   
                    .learn-more-btn{
                        button{
                            width: 450px;
                            height: 75px;
                            font-size: 30px;
                        }
                    }            
                   }
                }
            }
        }
    }
}
    
      
/* //section-4 */
.section-4{
    .sec-4-headline{        
        h4{
            padding-top: 2rem;
            padding-bottom: 15px;
        }
    }
    .scroller {
        max-width: 100%;
        overflow: hidden;
        & .scroller__inner {
          display: flex;
          gap: 1rem;
          li {
            list-style-type: none;
          }
        }    
        &[data-animated="true"] {
          overflow: hidden;    
          & .scroller__inner {
            flex-wrap: nowrap;
            animation: scroll 40s linear infinite;
          }
        }
      }
    }    
    @keyframes scroll {
      to {
        transform: translateX(-100%);
      }
    }


/* //section-5 */
.section-5{
    background-color: #231f20;
    color: #ffffff;
    padding: 40px 10px;
    .sec-5-headline-part{
        padding-top: 3rem;
        .sec-5-text{         
            .stick{
                width: 3px; /* Thickness of the stick */
                height: 70px; /* Length of the stick */
                background-color: grey; /* Color of the stick */
                margin: 20px auto;
            }
        }
        .sec-5-input-group{                 
            display: flex;
            align-items: center;
            justify-content: center;    
            padding-top: 1rem;            
            input{                         
            padding: 10px;
            border: 2px solid #e1f785;
            border-right: 0;           
            padding-left: 13px; 
            }
            .btn{
            width: 100px;
            background-color: #e1f785;
            padding: 10px 20px;
            border: 2px solid #e1f785;  
           border-radius: 0%;
            color: #000;
            }
        }
    }
    .wiggle-line-part{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .overlay-container {
            position: relative;
            display: inline-block;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-30deg);
            }
          h1 {
            position: absolute;
            top: 50%;
            /* left: 40%; */
            transform: translate(-50%, -50%);
            white-space: nowrap;           
            text-align: center;
            font-size: 4em;
            }
        }    
        .stick{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px; /* Thickness of the stick */
            height: 90px; /* Length of the stick */
            background-color: grey; /* Color of the stick */
            margin: 60px 0;
        }    
    }  
    @media (min-width: 320px) {
        
        .wiggle-line-part{            
            .overlay-container{
                img{
                    width: 180px;
                }
                h1{
                    font-size: 40px;
                }
            }
        }
    }
    .gen-z-text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;      
        margin-top: 50px;                
    }    
    .p-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;     
        margin-top: 40px;   
        padding-bottom: 55px;
    }
}
@media (min-width:320px) {
    .gen-z-text{
        padding-top: 0;
    }
}
/* //section-6 */
.section-6{
    .sec-6-headline{
        padding-top: 30px;
        h1{
            .font-change{
                font-size: 50px;
                line-height: 50px;
            }
        }
    }   
    .row-no-1{
        padding-top:30px;       
        .col-lg-6{
            position: relative;
            .img-wrapper-1{
                position: relative;
                width: 90%; 
                height: auto; 
                left: 55px;
                img {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 85%;               
                    object-fit: cover;
                }
                video{
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 85%;
                    outline: 0;
                    border: 0;                  
                    object-fit: cover;                    
                }
            }
        }
        .sec-6-text{
            position: relative;
            z-index:1 ;
        }
    }
}
   












/* //feature */
.feature{
    height: 50vh;
    padding-top: 30px;
    .img-element{
        width: 100%;
        padding: 0 20px;
        /* border: 3px solid red; */
        .imges{
            display:flex;
            justify-content: center;
            align-items: center;
            gap: 6rem;           
        }
    }
}
@media (min-width: 320.98px) and (max-width:575.98px){
    .feature{
        height: auto;
        padding-bottom: 20px;
       .row{
        .col-lg-4{  
            display: grid;        
            align-items: center;
            justify-content: center;            
        }
       }
    }
}

/* //last part */
.keep-up-with-us{
    background-color:#E2DBC8;
    height: 120vh;
    padding: 0 30rem;
    padding-bottom: 30px;
    .header-text{
        h2{
            padding: 2rem; 
        }
    }
    .ig-info{
        display: flex;
        align-items: center;
        justify-content: space-between;         
    }
    .box-container{
        .boxes{
            .box1{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                iframe{
                border-radius: 4px;
                }
                .content{
                   position:absolute;
                   width: 100%;
                   height: 100%;
                   top: 0;
                   left: 0;
                   background:rgba(0,0,0,0.6) ;
                   display: flex;
                   align-items: center;
                   justify-content: center;
                   flex-direction: column;
                   opacity: 0;
                   transition: 0.6s;
                }
                .content:hover{
                    opacity: 1;
                }
                h3{
                    font-size: 40px;
                }
            }
        }
    } 
    .ig_section_btn{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;        
        button{
            background-color: #fff;
            padding: 10px;
            border: 0;
            outline: 0;
            width: 150px;
        }
        button:hover{
            background-color: #000;
            color: #fff;
            transition: 0.7s;
        }
    }
}
    @media (min-width:320.98px) and (max-width:576.98px){
        .keep-up-with-us{
            padding: 0 20px;
            height: auto;
            padding-bottom: 20px;
            .ig-info{
                display: block;
                /* padding: 15px; */
            }
            .box-container{
                display: flex;
                .boxes{
                    .box1{
                        iframe{
                            width: 100px;
                            height: 100px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width:576.98px) and (max-width:768.98px) {
        .keep-up-with-us{
            height: auto;           
            .ig-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .box-container{
                /* display: flex; */
                .boxes{
                    .box1{
                        iframe{
                            width: 200px;
                            height: 200px;
                        }
                    }
                }
            }
        }
    }
    @media (min-width:768px) and (max-width:1200.98px){
        .keep-up-with-us{
                       
            .ig-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            .box-container{
                /* display: flex; */
                .boxes{
                    .box1{
                        video{
                            width: 230px;
                            height: 230px;
                        }
                    }
                }
            }
        }
    }

    /* //text_part// */
.stay_in_loop{
    .loop{
        display: flex;
        gap: 1rem;
        .loop_text{
            font-size: 500px;
            list-style: none;
            gap: 5rem;
        }
    }
}
@media (min-width:320.98px) and (max-width:576.98px){
    .stay_in_loop{
        .loop{
            span{
                font-size: 60px;
                gap:0.5rem;
            }
        }
    }
}
@media (min-width:576.98px) and (max-width:768.98px){
    .stay_in_loop{
        .loop{
            span{
                font-size: 60px;
                gap:0.5rem;
            }
        }
    }
}



/* @media (min-width:320px) and (max-width:576.98px) {
    #chapter2{
        order: 1;
    }
}

