*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;     
}

/* //top-navbar// */
.top-nav{
    background-color: #e1f785;
    padding: 10px 0;
    height: 45px;    
    a{
        text-decoration: none;        
    }
}
/* //Main-navbar */
.ca-navbar{    
        width: 100%; 
        padding: 20px 0;       
    .container-fluid{   
        width: 840px;          
        a{
            img{
                width: 132px;
                height: 65px;
            }
        }
        .ca-nav-border{            
            border: 1px solid black;
            border-radius: 40px;             
            .navbar-nav{
                .nav-item{
                    width: 158px;
                    height: 45.55px;
                    box-sizing: border-box;
                    overflow: hidden;
                    position: relative;                    
                    .text{
                        p{
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            line-height: 44px;
                            margin: 0;
                        }
                    }    
                }
            }
        }
    }
}
/* //link-part */
.link-part{
    padding: 22px 0;
    .col-lg-6{
        .link-logo-part{ 
            padding: 0;           
            display: flex;
            justify-content: center;
            align-items: center;
            gap:10px;
            li{
                list-style-type: none;
                display: inline;                           
                left:100%; 
                img{
                    max-height: 40px;                   
                }
            }
        }
    }    
    .text-part{
        p{           
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
                padding-left: 4px;                
            }
            .text-part-btn{
                width: 112px;
                height: 40px;
                border: 1px solid black;
                background-color: #e1f785;
                border-radius: 40px;
                margin-left: 10px;
            }     
          }
    }
}
hr{    
    border: 1px solid #000;
}

/* //secion-1-scss-part// */

.section-1{
    .row{
        .sec-1-col{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .section-1-text {
                p{
                    font-size: 80px;
                    margin: 2px;
                    line-height: 1rem;
                }
                
            }
            .input-group{
                width: 100%;
                max-width: 330px;
                margin: 0 auto;               
                input{                
                padding: 10px;
                border: 2px solid #000;
                border-right: 0;
                border-radius: 4px;
                padding-left: 13px; 
                }
                .btn{
                    width: 100px;
                background-color: #000;
                padding: 10px 20px;
                border: 2px solid #000;
                border-left: 0;
                border-radius: 4px; 
                color: #fff;
                }
            }
        }
        .sec-1-img-part{
            object-fit: cover;
        }
    }
}


/* //section-2-scss// */
.section-2{
    .row{       
        .text-col-1{ 
            background-color: #D9F567;          
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            padding: 20px 22px;           
            span{
            display: block;           
            font-size: 23px;
            }
        }
        .text-col-2{
            background-color: #E7DDC7;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            padding: 30px 22px;                 
            span{
            display: block;           
            font-size: 23px;
            }
        }
        .info-col{
            background-color: #FFFFFE;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;  
            font-size: 23px;
            padding: 30px 22px;
            .info-col-icon{
                padding: 5px 0;                
                li{
                    list-style-type: none;
                    display: inline;                
                    
                }
            }
        }
    }    
}
@media (min-width: 320px) and (max-width: 767.98px) {
.section-2{
    margin-top: 2rem;
}    
}
@media (min-width:768px) {
    .section-2{     
        .row{            
            .text-col-1{
                span{
                    font-size: 20px;
                }
            }
            .text-col-2{
                span {
                    font-size:20px;
                }
            }
        }
    }
}

/* //section-3-part// */
.section-3-black-part{
    background-color:#353132;
    padding: 1rem 1rem;
    .sec-3-text{
        padding-top: 5rem;  
       
        h2{
            color:#ffffff ;
        }
        .section-3-centre-part{
            background-color: #353132;            
            display: flex;
            align-items: center;
            justify-content: center;
            .section-3-img{
                width: 550px;
                padding-top: 2rem;                
                display: inline;
                align-items: center;
                justify-content: center;
                .animated-img{
                    width: 100%;            
                }                    
                .listen-podcast{
                    padding-top: 1.3rem;
                    margin-bottom: 8rem; 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;     
                    .podcast-link{ 
                        padding-top: .3rem; 
                    span{
                        img{
                            margin:0 10px;
                            width: 70px;
                        }                
                    }
                }                   
                .learn-more-btn{  
                    button{
                    width: 182px;
                    height:65px;
                    border: 0;
                    }
                } 
            } 
            }             
            }
            
        }
    }

@media (min-width: 320.98px) and (max-width:575.98px) {
    .section-3-black-part{
        .sec-3-text{
            padding-top: 1rem;
            .section-3-centre-part{
                .section-3-img{
                    .animated-img{
                        width: 95%;
                        border: 2px solid #fff;
                    }
                    .listen-podcast{
                        display: block;
                        justify-content: center;
                        align-items: center; 
                        margin-bottom: 20px;                   
                        .podcast-link{
                            margin: 1rem;
                            span{                           
                                img{
                                    width: 21%;
                                }
                            }
                        }   
                        .learn-more-btn{
                            
                            button{
                                width: 250px;
                                height: 45px;
                                font-size: 21px;
                            }
                        }            
                       }
                }
            }
        }
    }
}
    


@media (min-width:576.98px) and (max-width:768.98px) {
    .section-3-black-part{
        .sec-3-text{
            .section-3-centre-part{
                .section-3-img{
                   .animated-img{
                    width: 95%;
                    border: 2px solid #fff;
                   }
                   .listen-podcast{
                    display: block;
                    justify-content: center;
                    align-items: center;                    
                    .podcast-link{
                        margin: 1rem;
                        span{                           
                            img{
                                width: 21%;
                            }
                        }
                    }   
                    .learn-more-btn{
                        button{
                            width: 450px;
                            height: 75px;
                            font-size: 30px;
                        }
                    }            
                   }
                }
            }
        }
    }
}
    
      
/* //section-4 */
.section-4{
    .sec-4-headline{        
        h4{
            padding-top: 2rem;
            padding-bottom: 15px;
        }
    }
        .scroller{
            max-width: 900px;          
            .scroller_inner{
            display: flex;
            flex-wrap: wrap;
            }            
            hr{
                border: 1px solid black;
                background-color: #000;
            }
        }
        .scroller[data-animated="true"]{
            overflow: hidden;
           mask: linear-gradient(90deg, transparent, white, 20%);
            .scroller_inner{
                 flex-wrap: nowrap;
                 animation: scroll 40s;
            }
        }   
}
@keyframes scroll {
    to{
        transform: translate(100%);
    }
    
}

/* //section-5 */
.section-5{
    background-color: #231f20;
    color: #ffffff;
    padding: 40px;
    .sec-5-headline-part{
        padding-top: 3rem;
        .sec-5-text{         
            .stick{
                width: 3px; /* Thickness of the stick */
                height: 70px; /* Length of the stick */
                background-color: grey; /* Color of the stick */
                margin: 20px auto;
            }
        }
        .sec-5-input-group{                 
            display: flex;
            align-items: center;
            justify-content: center;    
            padding-top: 1rem;            
            input{                         
            padding: 10px;
            border: 2px solid #e1f785;
            border-right: 0;           
            padding-left: 13px; 
            }
            .btn{
            width: 100px;
            background-color: #e1f785;
            padding: 10px 20px;
            border: 2px solid #e1f785;  
           border-radius: 0%;
            color: #000;
            }
        }
    }
    .wiggle-line-part{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        .overlay-container {
            position: relative;
            display: inline-block;
            img {
                display: flex;
                justify-content: center;
                align-items: center;
                transform: rotate(-30deg);
            }
          h1 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            white-space: nowrap;           
            text-align: center;
            font-size: 4em;
            }
        }    
        .stick{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 3px; /* Thickness of the stick */
            height: 90px; /* Length of the stick */
            background-color: grey; /* Color of the stick */
            margin: 60px 0;
        }    
    }  
    @media (min-width: 320px) {
        
        .wiggle-line-part{            
            .overlay-container{
                img{
                    width: 180px;
                }
                h1{
                    font-size: 40px;
                }
            }
        }
    }
    .gen-z-text{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;      
        margin-top: 50px;                
    }    
    .p-text{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;     
        margin-top: 40px;   
        padding-bottom: 55px;
    }
}
@media (min-width:320px) {
    .gen-z-text{
        padding-top: 0;
    }
}
/* //section-6 */
.section-6{
    .sec-6-headline{
        padding-top: 30px;
      
        h1{
            .font-change{
                font-size: 80px;
                line-height: 110px;
            }
        }
    }
    
    .row-no-1{
        padding-top: 89px;
        .col-lg-4{
            .img-wrapper-1{
                position: relative;
                width: 100%; 
                height: auto; 
                left: 55px;
                /* display: flex;
                justify-content: center;
                align-items: center; */
                img {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;               
                    object-fit: cover;
                }
                video{
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    outline: 0;
                    border: 0;                  
                    object-fit: cover;                    
                }
            }
        }
        .vertical-line {
            width: 2px; /* Adjust the width of the line */
            height: 245% ; /* Full height of the parent */
            background-color: #000; /* Adjust the color as needed */
            position: absolute;
            left: 50%; /* Center the line horizontally */
            transform: translateX(-50%);
          }
        .sec-6-text{
            
           h2{
            padding-bottom: 10px;
           }
           h1{
            padding-bottom: 40px;
           }           
        }
    } 
    @media (min-width:320px) {
        .sec-6-headline{
            h1{
                /* font-size: 50px; */
                .font-change{
                    font-size: 50px;
                    line-height: 35px;
                }
            }
        }
        .row-no-1{
            padding-top: 20px;
            .col-lg-4{
            .img-wrapper-1{
                left: 0px;
                
            }
        }
    } 
} 
    /* //row No.2 */
    .row-no-2{
        padding-top: 7rem;
        .sec-6-row-2-text-part{   
                display: inline;
                justify-content: center;
                align-items: center;
            h2{
                padding-bottom: 10px;
               }
               h1{
                padding-bottom: 40px;
               }    
        }
        .wrapper{
            .img-wrapper-2{
                position: relative;
                width: 80%; 
                height: auto; 
                left: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;               
                    object-fit: cover;                   
                }
                video{
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 80%;
                    outline: 0;
                    border: 0;                  
                    object-fit: cover;                                  
                }
            }
        }
    } 
    /* //row No.3 */
    .row-no-3{
        padding-top: 7rem;
        .col-lg-5{
        .img-wrapper-1{
            position: relative;
            width: 90%;
            height: auto;
            left: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;               
                    object-fit: cover;    
            }
            video{
                z-index: 0;
                    position: absolute;
                    bottom: -319px;
                    left: 0;
                    width: 91%;
                    outline: 0;
                    border: 0;                  
                    object-fit: cover;  
            }
        }        
    }
}
.row-no-4{
    padding-top: 7rem;
    .col-lg-6{
        .img-wrapper{
                position: relative;
                width: 80%; 
                height: auto; 
                left: 55px;
                display: flex;
                justify-content: center;
                align-items: center;
            img{
                z-index: 1;
                position: absolute;
                top: 0;
                left: 0;
                width: 80%;               
                object-fit: cover;  

            }
            video{
                    z-index: 0;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 50%;
                    outline: 0;
                    border: 0;                  
                    object-fit: cover;
            }
        }
    }
}
}
.img-wrapper-text{
    text-align: right;
}

/* //feature */
.feature{   
    .row{
        .col-lg-4{
            color: grey;
        }
    }
}

/* //last part */
.keep-up-with-us{
    background-color:#E2DBC8;
    .header-text{
        h2{
            padding: 2rem; 
        }
    }
    .ig-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 9rem;    
    }
    .ig-reels-layouts{
        .boxes{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            .box1{
                outline: 1px solid #000;
                width: 300px;
                height: 300px; 
                margin-right: 2rem;               
                background-color: grey;
                position: relative;
                video{
                    width: 300px;
                    height: 300px;
                    position: absolute;
                }    
                video:hover{
                    opacity: 0.5;
                }  
                .hover-text{
                    display: none; /* Hide by default */
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-90%, -90%);
                     background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
                    color: white;
                     padding: 10px 20px;
                    border-radius: 5px;
                    font-size: 16px;
                    text-align: center;
                }          
            }
        }
        .boxes:hover{
            .hover-text{
                display: block;
            }
        }
        }
    }
